1. Create a function to perform basic arithmetic operations that includes addition, subtraction, multiplication and division on a string number (e.g. "12 + 24" or "23 - 21" or "12 // 12" or "12 * 21").
Here, we have 1 followed by a space, operator followed by another space and 2. For the challenge, we are going to have only two numbers between 1 valid operator. The return value should be a number. eval() is not allowed. In case of division, whenever the second number equals "0" return -1.
For example:
"15 // 0" âžž -1

In [2]:
def arithmetic_operation(s):
    l = s.split()
    l1 = list(map(int,l[0:3:2]))
    if l[1] == '+':
         return l1[0] + l1[1]
    elif l[1] == '-':
         return l1[0] - l1[1]
    elif l[1] == '*':
         return l1[0] * l1[1]
    else:
        if l1[1] == 0:
            return -1
        else:
            return l1[0] / l1[1]
print(arithmetic_operation("12 + 12"))
print(arithmetic_operation("12 - 12"))
print(arithmetic_operation("12 * 12"))
print(arithmetic_operation("12 / 12"))

24
0
144
1.0

2. Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional plane.

In [3]:
import math
def distance(xA,yA,xB,yB):
    return math.sqrt((xA-xB)*(xA-xB)+(yA-yB)*(yA-yB))
def perimeter(l):
    return round(distance(l[0][0],l[0][1],l[1][0],l[1][1])+distance(l[0][0],l[0][1],l[2][0],l[2][1])+distance(l[2][0],l[2][1],l[1][0],l[1][1]),2)
print(perimeter( [ [15, 7], [5, 22], [11, 1] ] ))
print(perimeter(  [ [0, 0], [0, 1], [1, 0] ] ))
print(perimeter([[-10, -10],[10, 10 ],[-10, 10]]))

47.08
3.41
68.28

3. A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the tallest building is 4 (second-most right column).
[[0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 1, 0], [0, 0, 1, 0, 1, 0], [0, 1, 1, 1, 1, 0], [1, 1, 1, 1, 1, 1]]
Create a function that takes a skyline (2-D list of 0's and 1's) and returns the height of the tallest skyscraper.

In [4]:
import numpy as np

def tallest_skyscraper(l):
    arr = np.array(l)
    height =[]
    for i in range(len(arr)):
        height.append((arr[:,i] == 1).sum())   
    return max(height)
print(tallest_skyscraper([ [0, 0, 0, 0], [0, 1, 0, 0], [0, 1, 1, 0], [1, 1, 1, 1] ]))
print(tallest_skyscraper([ [0, 1, 0, 0], [0, 1, 0, 0], [0, 1, 1, 0], [1, 1, 1, 1] ]))
print(tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 0, 0, 0],
  [1, 1, 1, 0],
  [1, 1, 1, 1]
]))

3
4
2

4. A financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target.
This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each billable day in excess of such threshold target is shown as follows:
Days Bonus
0 to 32 days Zero
33 to 40 days SGD$325 per billable day
41 to 48 days SGD$550 per billable day
Greater than 48 days SGD$600 per billable day
Please note that incentive payment is calculated progressively. As an example, if an employee reached total billable days of 45 in a quarter, his/her incentive payment is computed as follows:
32 0 + 8 325 + 5 * 550 = 5350
Write a function to read the billable days of an employee and return the bonus he/she has obtained in that quarter.

In [5]:
def bonus(days):
    if days < 32:
        return 0    
    elif days > 32 and days < 41:
        return (days-32) * 325 
    elif days > 40 and days < 49:
        return 8 * 325 + (days - 40) * 550   
    elif days > 48:
        return 8 * 325 + 8 * 550 + (days - 48) * 600    
print(bonus(15))
print(bonus(37))
print(bonus(50))

0
1625
8200

5. A number is said to be Disarium if the sum of its digits raised to their respective positions is the number itself.
Create a function that determines whether a number is a Disarium or not.

In [6]:
def is_disarium(n):
    s = 0 
    l = list(map(int,str(n)))
    for i in range(0,len(l)):
        s+= l[i]**(i+1)
    if s == n:
        return True
    else:
        return False  
print(is_disarium(75))
print(is_disarium(135))
print(is_disarium(544))

False
True
False