1. Given a list of numbers, create a function that removes 25% from every number in the list except the smallest number, and adds the total amount removed to the smallest number.

Examples

show_the_love([4, 1, 4]) ➞ [3, 3, 3]

show_the_love([16, 10, 8]) ➞ [12, 7.5, 14.5]

show_the_love([2, 100]) ➞ [27, 75]

In [4]:
def show_the_love(l):
    sno = min(l)
    ind = l.index(sno)
    k = 0
    for i in range(len(l)):
        if l[i] != sno:
            j =  0.25 * l[i]
            l[i] = l[i]- j
            k += j            
    l[ind] = sno + k
    l = [int(i) if i == int(i) else i for i in l]
    return l
print("show_the_love([4, 1, 4])->",show_the_love([4,1,4]) )
print("show_the_love([16, 10, 8])->",show_the_love([16, 10, 8]))
print("show_the_love([2, 100])->",show_the_love([2, 100]))

show_the_love([4, 1, 4])-> [3, 3, 3]
show_the_love([16, 10, 8])-> [12, 7.5, 14.5]
show_the_love([2, 100])-> [27, 75]

2. Create a function that takes in two words as input and returns a list of three elements, in the following order:

1.Shared letters between two words. 

2.Letters unique to word 1.

3.Letters unique to word 2.

Each element should have unique letters, and have each letter be alphabetically sorted.

Examples

letters("sharp", "soap") ➞ ["aps", "hr", "o"]

letters("board", "bored") ➞ ["bdor", "a", "e"]

letters("happiness", "envelope") ➞ ["enp", "ahis", "lov"]

letters("kerfuffle", "fluffy") ➞ ["flu", "ekr", "y"]

In [5]:
def letters(w1,w2):
    con = ''
    for i in set(w1)&set(w2):
        con += ''.join(i)    
    u1 = ''
    for i in set(w1).difference(set(w2)):
        u1 += ''.join(i)       
    u2 = ''
    for i in set(w2).difference(set(w1)):
        u2 += ''.join(i)      
    return con, u1 , u2
print("letters(sharp, soap) ➞",letters("sharp", "soap"))
print("letters(board, bored) ➞",letters("board", "bored") )
print("letters(happiness, envelope) ➞",letters("happiness", "envelope"))
print("letters(kerfuffle, fluffy)  ➞",letters("kerfuffle", "fluffy"))
print("letters(match,ham) ➞",letters("match","ham"))

letters(sharp, soap) ➞ ('asp', 'rh', 'o')
letters(board, bored) ➞ ('odrb', 'a', 'e')
letters(happiness, envelope) ➞ ('enp', 'hais', 'ovl')
letters(kerfuffle, fluffy)  ➞ ('ful', 'rek', 'y')
letters(match,ham) ➞ ('mah', 'tc', '')

3. Write a function that pairs the first number in an array with the last, the second number with the second to last, etc.

Examples

pairs([1, 2, 3, 4, 5, 6, 7]) ➞ [[1, 7], [2, 6], [3, 5], [4, 4]]

pairs([1, 2, 3, 4, 5, 6]) ➞ [[1, 6], [2, 5], [3, 4]]

pairs([5, 9, 8, 1, 2]) ➞ [[5, 2], [9, 1], [8, 8]]

pairs([]) ➞ []

In [6]:
import math
def pairs(l):
    l2 = []
    for i in range(math.ceil(len(l)/2)):
        l1 = []
        l1.append(l[i])
        l1.append(l[len(l)-i-1])
        l2.append(l1)
    return l2
print("pairs([1, 2, 3, 4, 5, 6, 7]) ➞",pairs([1,2,3,4,5,6,7]))
print("pairs([1, 2, 3, 4, 5, 6]) ➞",pairs([1,2,3,4,5,6]))
print("pairs([5, 9, 8, 1, 2]) ➞",pairs([5,9,8,1,2]))
print("pairs([]) ➞",pairs([]))

pairs([1, 2, 3, 4, 5, 6, 7]) ➞ [[1, 7], [2, 6], [3, 5], [4, 4]]
pairs([1, 2, 3, 4, 5, 6]) ➞ [[1, 6], [2, 5], [3, 4]]
pairs([5, 9, 8, 1, 2]) ➞ [[5, 2], [9, 1], [8, 8]]
pairs([]) ➞ []

4. Write a function that adds two numbers. The catch, however, is that the numbers will be strings.

Examples

add_str_nums("4", "5") ➞ "9"

add_str_nums("abcdefg", "3") ➞ "-1"

add_str_nums("1", "") ➞ "1"

add_str_nums("1874682736267235927359283579235789257", "32652983572985729") ➞ "1874682736267235927391936562808774986"

In [7]:
def add_str_nums(s1,s2):
    if s1 != '' and s2 != '':
        if s1.isnumeric() and s2.isnumeric():
            return str(int(s1) + int(s2))
        else:
            return -1
    else:
        return s1 + s2
print("add_str_nums(4,5) ➞",add_str_nums("4","5"))
print("add_str_nums(abcdefg,3) ➞",add_str_nums("abcdefg", "3"))
print("add_str_nums(1, ) ➞",add_str_nums("1",""))
print("add_str_nums(1874682736267235927359283579235789257,32652983572985729) ➞",add_str_nums("1874682736267235927359283579235789257", "32652983572985729"))

add_str_nums(4,5) ➞ 9
add_str_nums(abcdefg,3) ➞ -1
add_str_nums(1, ) ➞ 1
add_str_nums(1874682736267235927359283579235789257,32652983572985729) ➞ 1874682736267235927391936562808774986

5. lPaeesh le pemu mnxit ehess rtnisg! Oh, sorry, that was supposed to say: Please help me unmix these strings!
Somehow my strings have all become mixed up; every pair of characters has been swapped. Help me undo this so I can understand my strings again.

Examples

unmix("123456") ➞ "214365"

unmix("hTsii s aimex dpus rtni.g") ➞ "This is a mixed up string."

unmix("badce") ➞ "abcde"

In [8]:
def unmix(s):
    length = len(s)
    if length % 2 != 0 :
        length = length - 1
    l = list(s)
    i = 0
    while True:
        if i == length:
            break
        else:
            l[i], l[i+1] = l[i+1],l[i]
            i += 2
    s = ''
    for i in l:
        s += ''.join(i)
    return s    
print("unmix(123456) ➞",unmix("123456"))
print("unmix(hTsii s aimex dpus rtni.g) ➞ ",unmix("hTsii  s aimex dpus rtni.g"))
print("unmix(badce) ➞",unmix("badce"))

unmix(123456) ➞ 214365
unmix(hTsii s aimex dpus rtni.g) ➞  This is a mixed up string.
unmix(badce) ➞ abcde