Question1
Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.

In [2]:
def filter_list(lst):
    iLst = []
    for i in lst:
        if type(i) == int:
            iLst.append(i)
    return iLst
filter_list(['A', 0, 'Edabit', 1729, 'Python', '1729'])

[0, 1729]

Question2
Given a list of numbers, create a function which returns the list but with each element's
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc..

In [3]:
def aind(lst):
    ind = 0
    index = []
    for i in lst:
        index.append(lst.index(i,ind) + i)
        ind+=1
    return index
aind([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

Question3
Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

In [4]:
import math
pi = math.pi
def cvolume(r, h):
    return round((1 / 3) * pi * r * r * h)
radius = float(input("Enter radius:"))
height = float(input("Enter height:"))
print( "Volume Of Cone : ", cvolume(radius, height) )

Enter radius:15
Enter height:6
Volume Of Cone :  1414

Question4
This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.
Examples
triangle(1) ➞ 1
triangle(6) ➞ 21
triangle(215) ➞ 23220
A Rule
We can make a "Rule" so we can calculate any triangular number.

First, rearrange the dots like this:

triangular numbers 1 to 5

Then double the number of dots, and form them into a rectangle:

triangular numbers when doubled become n by n+1 rectangles

Now it is easy to work out how many dots: just multiply n by n+1

Dots in rectangle = n(n+1)

But remember we doubled the number of dots, so

Dots in triangle = n(n+1)/2

We can use xn to mean "dots in triangle n", so we get the rule:

Rule: xn = n(n+1)/2

In [7]:
def tri(n):
    return n*(n+1)*0.5
t = int(input('Entertrinalge number :'))
print("The {} triangle has {} dots ".format(t,int(tri(t))))

Entertrinalge number :123
The 123 triangle has 7626 dots

Question5
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.

In [8]:
def missnum(lst):
    tot = sum([x for x in range(11)])
    slist = sum(lst)
    return tot - slist
print(missnum([1, 2, 3, 4, 6, 7, 8, 9, 10]))

5