Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

In [4]:
def is_symmetrical(num):
    cdigit = rdigit = 0
    rnum = num
    while(rnum != 0):
        cdigit = rnum % 10
        rdigit = rdigit * 10 + cdigit
        rnum = rnum // 10
    if rdigit == num:
        print('True , {} is symmetrical'.format(num))
    else:
        print('False , {} is not symmetrical'.format(num))
is_symmetrical(7227)

True , 7227 is symmetrical

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.

In [5]:
def multiply_nums(s):
    s = s.replace(' ', "")
    s = s.split(',')
    sum = 1
    for i in s:
        sum = sum * int(i)
    return sum
print(multiply_nums('2, 3'))
print(multiply_nums('54, 75, 453, 0'))

6
0

Question 3
Create a function that squares every digit of a number.
Notes
The function receives an integer and must return an integer.

In [6]:
def square_digits(num):
    ans = ''.join(str(int(i)**2) for i in str(num))
    return int(ans)
print(square_digits(9119))

811181

Question 4
Create a function that sorts a list and removes all duplicate items from it.

In [7]:
def setify(lst):
    return list(set(lst))
print(setify([1, 3, 3, 5, 5]))
print(setify([5, 7, 8, 9, 10, 15]))

[1, 3, 5]
[5, 7, 8, 9, 10, 15]

Question 5
Create a function that returns the mean of all digits.
Notes
- The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
- The mean will always be an integer.

In [8]:
def mean(n): 
    N = len(str(n)) 
    sum = mean = 0  
    for digit in str(n):
        sum += int(digit)       
    return int(sum/N)
print(mean(42))
print(mean(666))

3
6